{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="my-5">

    <h1>Title: {{ form }}</h1>
    <h5>{{ form.description }}</h5>

    <div class="m-3">
        <h3>Questions: </h3>

        <ul>
            {% for question in questions %}
            <li>
                {{ question.question }}
                <ol>
                    {% for response in responses %}
                    {% if response.question_answered.id == question.id %}
                    <li>
                        <i>"{{ response.response }}"</i>  - answered by <b>{{response.answered_by}}</b>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock content %}