{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}


{% block content %}

<div class="my-5">

    <div class="jumbotron">
        <h1 class="display-4">{{user.username|capfirst}}'s dashboard</h1>
        <p class="lead">Welcome to SurveyDonkey Forms. </p>
        <p>You are created {{count}} forms till date.</p>
        <p class="lead">
            <a class="btn btn-primary btn-md" href="{% url 'formcreate1' %}" role="button">Create New Form</a>
            <a class="btn btn-warning btn-md" href="{% url 'logout' %}" role="button">Logout</a>
        </p>
        <hr class="my-4">
    </div>

    <div class="form-data">
        <div class="d-flex my-3">
            <h2 class="display-6">Forms</h2>
        </div>
        <div class="form-box d-flex flex-row justify-content-center flex-wrap">

            {% for form in formsCreated %}

            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="fw-normal">{{ form.title }}</h5>
                    <p class="fw-lighter">{{form.description}}</p>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> -->
                    <div class="my-2 d-flex flex-wrap justify-content-between">
                        <a class="btn btn-link btn-sm" href="{% url 'formdetail' form.id %}" role="button">Form
                            Details</a>
                        <a class="btn btn-link btn-sm" href="{% url 'formsubmit' form.id %}" role="button">Submit
                            Form</a>
                    </div>
                    <div class="my-2 d-flex flex-wrap justify-content-between">
                        <p class="text-muted m-0">Created on: {{ form.created_on|date:"d-m-y" }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

<script>
    function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("myInput");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);

        /* Alert the copied text */
        alert("Copied the text: " + copyText.value);
    }

</script>
{% endblock content %}