{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}


{% block content %}

<div class="my-5">
    
    <div class="user-data">
        <h2>User Details</h2>
        <div class="m-4">
            <p class="m-0">Welcome {{ user.username }} !!!</p>
            <p class="m-0">You are created 17 forms till date</p>
            <button class="btn btn-sm btn-warning my-2"><a href="{% url 'logout' %}">Logout</a></button>
            <a href='{% url 'home' %}'>Home</a>
        </div>
    </div>


    <div class="form-data">
        <div class="d-flex justify-content-between my-3">
            <h2>Forms</h2>
            <a href='{% url 'formcreate1' %}' >
                <button class="btn btn-sm btn-warning">Create New Form</button>
            </a>
        </div>
        <div class="form-box d-flex flex-row justify-content-start">

            {% for form in formsCreated %}

            <div class="card m-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ form.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{form.description}}</h6>
                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p> -->
                    <a href='{% url 'formdetail' form.id %}' class="card-link">Card link</a>
                    <a href='{% url 'formsubmit' form.id %}' class="card-link">Submit</a>
                    <br>
                    <subtitle>{{ form.created_on }}<subtitle>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock content %}