<!-- templates/home.html -->
{% load socialaccount %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">

<body>

    <section>
        <h1>Donkey Survey: Login/Register</h1>

        {% if user.is_authenticated %}

        <p>Welcome {{ user.username }} !!!</p>
        <a href="{% url 'logout' %}">Logout</a>
    </section>

    </section>
    {% else %}
    <a href="{% provider_login_url 'github' %}">Login with Github</a>
    <a href="{% provider_login_url 'google' %}">Login with Google</a>
    {% endif %}
    </section>
</body>